<a href="https://colab.research.google.com/github/patgzyl/data-science/blob/master/03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [3]:
s=pd.Series(data=[1,4,5,3])
s

0    1
1    4
2    5
3    3
dtype: int64

In [6]:
s=pd.Series(data=[1,4,5,3], index=['a','b','c','d'], name="hehe")
s

a    1
b    4
c    5
d    3
Name: hehe, dtype: int64

In [0]:
import numpy as np

In [8]:
s=pd.Series(data=[1,np.nan,5,3], index=['a','b','c','d'], name="hehe")
s

a    1.0
b    NaN
c    5.0
d    3.0
Name: hehe, dtype: float64

In [11]:
s=pd.Series(data=[True,False,True])
s

0     True
1    False
2     True
dtype: bool

In [13]:
s=pd.Series(data=np.arange(10,20),index=pd.date_range(start="20200101", periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [14]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [15]:
s.shape

(10,)

In [23]:
s=pd.Series(data={'Apple':200,'CDP':100,'Amazon':1900,'KGHN':np.nan})
s
s["CDP"]

100.0

In [18]:
s[1]

100

In [20]:
s.count()

3

In [25]:
s.value_counts()

1900.0    1
100.0     1
200.0     1
dtype: int64

In [24]:
s.describe()

count       3.000000
mean      733.333333
std      1011.599394
min       100.000000
25%       150.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [27]:
s.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [28]:
s.nsmallest(1)

CDP    100.0
dtype: float64

In [29]:
s.rank()

Apple     2.0
CDP       1.0
Amazon    3.0
KGHN      NaN
dtype: float64

In [31]:
s.sort_values(ascending=False)

Amazon    1900.0
Apple      200.0
CDP        100.0
KGHN         NaN
dtype: float64

In [32]:
s.apply(lambda x: x*3.9)

Apple      780.0
CDP        390.0
Amazon    7410.0
KGHN         NaN
dtype: float64

In [33]:
df=pd.DataFrame(data=[12,6,3,320])
df

     0
0   12
1    6
2    3
3  320

In [35]:
df=pd.DataFrame(data=[12,6,3,320],index=['a','b','c','d'],columns=['jeden'])
df

   jeden
a     12
b      6
c      3
d    320

In [38]:
df=pd.DataFrame(data={"WIG30":['aaa','bb'],'mWIG40':['ddd','ee']},index=[1,2])
df

  WIG30 mWIG40
1   aaa    ddd
2    bb     ee

In [43]:
df=pd.DataFrame(data=[[12,34,56],[3,7,9]],index=[1,2],columns=['jeden','dwa','trdz'])
df

   jeden  dwa  trdz
1     12   34    56
2      3    7     9

In [45]:
df.values

array([[12, 34, 56],
       [ 3,  7,  9]])

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 1 to 2
Data columns (total 3 columns):
jeden    2 non-null int64
dwa      2 non-null int64
trdz     2 non-null int64
dtypes: int64(3)
memory usage: 64.0 bytes

In [48]:
df.describe().T

       count  mean        std  min    25%   50%    75%   max
jeden    2.0   7.5   6.363961  3.0   5.25   7.5   9.75  12.0
dwa      2.0  20.5  19.091883  7.0  13.75  20.5  27.25  34.0
trdz     2.0  32.5  33.234019  9.0  20.75  32.5  44.25  56.0

In [49]:
df['jeden']

1    12
2     3
Name: jeden, dtype: int64

In [50]:
type(df['jeden'])

pandas.core.series.Series

In [51]:
df[['jeden']]

   jeden
1     12
2      3

In [53]:
type(df[['jeden']])

pandas.core.frame.DataFrame

In [56]:
df.columns = ['a', 'b', 'c']
df

    a   b   c
1  12  34  56
2   3   7   9

In [57]:
df.a

1    12
2     3
Name: a, dtype: int64

In [61]:

df=pd.DataFrame(data=[12,6,3,320],index=['a','b','c','d'],columns=['jeden'])
df.loc['c']

jeden    3
Name: c, dtype: int64

In [62]:
df.iloc[0]

jeden    12
Name: a, dtype: int64

In [64]:
df.iloc[1,0]

6